<footer class="pb-5">
  <hr class="bg-secondary border-2 border-top border-secondary my-5">
  <div class="row">
    <div class="col">
      <span class="text-muted">© <%= Date.today.year %> Dale Zak</span>
    </div>
    <div class="col">
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex float-end">
        <li class="ms-3">
          <a class="text-muted" href="https://dalezak.com" title="Website" target="_blank">
            <%= tag.i "", class: "fas fa-lg fa-desktop" %>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://github.com/dalezak" title="Github" target="_blank">
            <%= tag.i "", class: "fab fa-lg fa-github" %>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://twitter.com/dalezak" title="Twitter" target="_blank">
            <%= tag.i "", class: "fab fa-lg fa-twitter" %>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://www.linkedin.com/in/dalezak/" title="Linkedin" target="_blank">
            <%= tag.i "", class: "fab fa-lg fa-linkedin" %>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://dev.to/dalezak" title="Dev.to" target="_blank">
            <%= tag.i "", class: "fab fa-lg fa-dev" %>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://github.com/dalezak/rails-gems" title="Source" target="_blank">
            <%= tag.i "", class: "fas fa-lg fa-code" %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>