<nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to current_site, root_path, title: current_site, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <%= link_to "Gems", gems_path, class: "nav-link #{active('gems')}" %>
        <%= link_to "Devs", users_path, class: "nav-link #{active('devs')}" %>
        <%= link_to "Tags", tags_path, class: "nav-link #{active('tags')}" %>
        <%= link_to "Profile", profile_path, class: "nav-link d-block d-sm-none" if user_signed_in? %>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to profile_path, title: "Profile", class: "d-none d-sm-block me-2" do %>
            <%= render_avatar(current_user, "small") %>
          <% end %>
          <%= link_to destroy_user_session_path, class: "btn btn-sm btn-outline-light", data: { turbo: false } do %>
            <%= tag.i "", class: "fas fa-sign-out-alt" %> Logout
          <% end %>
        <% else %>
          <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownSignin" data-bs-toggle="dropdown" aria-expanded="false">
              <%= tag.i "", class: "fas fa-sign-in-alt" %> Sign in
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownSignin" data-turbo="false">
              <li>
                <%= button_to user_github_omniauth_authorize_path, class: 'dropdown-item', data: { turbo: false } do %>
                  <%= tag.i "", class: "fab fa-github" %> Sign in with Github
                <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to new_user_session_path, class: 'dropdown-item', data: { turbo: true, turbo_frame: 'modal' } do %>
                  <%= tag.i "", class: "fas fa-key" %> Sign in with Password
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
