<div class="card mb-4">
  <div class="card-body">
    <div class="ms-2 float-end">
      <%= render_avatar(user, "large") %>
    </div>
    <%= tag.h1 user.name, class: "card-title" %>
    <%= tag.h5 user.title, class: "card-subtitle mb-2 text-muted" if user.title.present? %>
    <%= tag.p user.description, class: "card-text" if user.description.present? %>
    <%= link_to "Homepage", user.homepage_uri, class: "card-link", target: "_blank" if user.homepage_uri.present? %>
    <%= link_to "Github", user.github_uri, class: "card-link", target: "_blank" if user.github_uri.present? %>
    <%= link_to "Twitter", user.twitter_uri, class: "card-link", target: "_blank" if user.twitter_uri.present? %>
  </div>
  <div class="card-footer text-muted">
    <%= render_badge(icon: "fas fa-heart") do %>
      <%= pluralize(user.likes_count, "likes") %>
    <% end %>
    <%= render_badge(icon: "fas fa-map-marked-alt") do %>
      <%= user.location %>
    <% end if user.location.present? %>
    <%= render_match(user) if user_signed_in? && user != current_user %>
  </div>
</div>