<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active me-auto" aria-current="page">Users</li>
    <%= render '/partials/breadcrumb/search' %>
  </ol>
</nav>

<%= turbo_stream_from :users %>

<%= turbo_frame_tag :users do %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <%= render partial: 'user', collection: @users %>
  </div>
<% end %>

<%= turbo_frame_tag :load_more do %>
  <%= render partial: "/partials/load_more", locals: { total: @users.length, count: @users_count, offset: @offset + @limit } %>
<% end %>