<% title ["Devs"] %>

<%= render '/partials/search', placeholder: "Search devs..." %>

<%= turbo_frame_tag "users" do %>
  <%= render_cards do |t| %>
    <%= render partial: '/users/card', collection: @users, as: :user %>
    <div id="user_cards"></div>
  <% end %>
  <%= render "/partials/load_more", total: @users.length, count: @users_count, offset: @offset + @limit %>
<% end %>