<% title ["Profile"] %>

<%= turbo_frame_tag dom_id(current_user, :details) do %>
  <%= render "/users/details", user: current_user %>
<% end %>

<% if current_user.likes_count.zero? && params[:welcome].to_bool %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">Welcome To RailsGems</h5>
    <h6 class="card-subtitle mb-3 text-muted">Discover new gems, and share the gems you love.</h6>
    <p class="card-text">To get started, you can <%= link_to "browse gems", gems_path %> to see the list of popular gems.</p>
    <p class="card-text">For inspiration, <%= link_to "checkout devs", users_path %> to see what gems others like to use.</p>
  </div>
</div>
<% elsif current_user.likes_count.zero? %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">No Likes Yet</h5>
    <h6 class="card-subtitle mb-3 text-muted">It looks like you haven't liked any gems yet.</h6>
    <p class="card-text">To get started, you can <%= link_to "browse gems", gems_path %> to see the list of popular gems.</p>
    <p class="card-text">For inspiration, <%= link_to "checkout devs", users_path %> to see what gems others like to use.</p>
  </div>
</div>
<% else %>
<%= turbo_frame_tag "gems", src: user_gems_path(current_user), loading: :lazy %>
<% end %>
