<%= form_for(resource, as: resource_name, url: password_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>
  <div class="mb-4 text-end">
    <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary' %>
  </div>
<% end %>