<div class="row">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-4">
    <div class="card mb-4">
      <div class="card-header">
        <h2 class="card-title"><%= t('.change_your_password') %></h2>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="mb-3">
            <%= f.label :password, t('.new_password'), class: 'form-label' %>
            <%= f.password_field :password, autofocus: true, class: 'form-control'  %>
            <% if @minimum_password_length %>
              <div class="form-text"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></div>
            <% end %>
          </div>
          <div class="mb-4">
            <%= f.label :password_confirmation, t('.confirm_new_password'), class: 'form-label' %>
            <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'  %>
          </div>
          <div class="mb-4">
            <%= f.submit t('.change_my_password'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>  
</div>