<div class="p-5 mb-4 bg-light rounded-3" data-controller="marquee" data-marquee-phrases-value='["Discover New Gems","Find Similar Developers","Join The Rails Community","Support Gem Developers","Share Gems You Love"]'>
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold marquee" data-marquee-target="phrase">Share Gems You Love</h1>
    <p class="fs-4">Discover gems other developers use, and share the gems that you love.</p>
    <div class="row">
      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-grid mb-3 mb-sm-0">
          <%= link_to "Browse Gems", gems_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="d-grid mb-3 mb-sm-0">
          <%= link_to "View Devs", users_path, class: "btn btn-outline-secondary" %>
        </div>  
      </div>
      <div class="col-12 col-sm-4 col-md-6 col-lg-8">
        <%= form_tag gems_path, method: :get, enforce_utf8: false do %>
          <%= text_field_tag :search, "", placeholder: "Search for gems...", type: 'text', class: "form-control" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= turbo_frame_tag "gems" do %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <%= render partial: '/gems/gem', collection: @gems, as: :gem %>
  </div>
<% end %>