<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'partials/metatags' %>
  </head>
  <body class="<%= body_class(params) %>">
    <nav class="d-block">
      <%= render 'partials/navbar' %>
    </nav>
    <main role="main" class="main m-3">
      <div class="container-fluid">
        <%= render 'partials/messages' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
