<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'partials/metatags' %>
  </head>
  <body class="<%= body_class(params) %>">
    <nav class="d-block">
      <%= render 'partials/navbar' %>
    </nav>
    <main role="main" class="main m-4">
      <div class="container-fluid py-3">
        <%= render 'partials/messages' %>
        <%= yield %>
      </div>
    </main>
    <div class="container-fluid px-5">
      <%= render 'partials/footer' %>
    </div>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
